.line-block{
    width: 90%;
    box-shadow: 3px 3px 3px 3px rgb(90, 90, 90);
    height: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.room-info-block{
  margin-top: 20px;
}

button{
    position: relative;
    float: right;
    margin-top: -60px;
}

.demo-inline-calendar-card {
  width: 300px;
}

// .card-header-image{
//   width: 100%;
// }
