.footer-20192 .cta {
  -webkit-box-shadow: -20px -20px 0 0 rgb(52 58 64 / 20%);
  box-shadow: -20px -20px 0 0 rgb(52 58 64 / 20%);
  padding: 20px;
  background-color: #8186d5;
  top: -150px;
  position: relative;
}

.pl-5, .px-5 {
  padding-left: 3rem!important;
}

.pr-5, .px-5 {
  padding-right: 3rem!important;
}

.footer-20192 {
  position: relative;
  color: #fff;
  padding: 7rem 0;
  background-color: #141d2a;
}

.footer-20192 .footer-logo {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: .1rem;
}
