<footer class="footer-20192">
  <div class="site-section">
    <div class="container">
      <div class="cta d-block d-md-flex align-items-center px-5">
        <div class="row">
          <div class="col-9">
            <h2 class="mb-0">Need help from a consultant?</h2>
            <h3 class="text-dark">Leave your number, we will call you back</h3>
          </div>
          <div class="col-3">
            <a href="" class="btn btn-dark rounded-0 py-3 px-5">Contact us</a>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm">
          <a href="" class="footer-logo">Hotel</a>
          <p class="copyright">
          <small>© 2022</small>
          </p>
        </div>
        <div class="col-sm">
          <h3>Customers</h3>
          <ul class="list-unstyled links">
          <li><a href="">Customer</a></li>
          <li><a href="">Employee</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <h3>Company</h3>
          <ul class="list-unstyled links">
          <li><a href="">About us</a></li>
          <li><a href="">Careers</a></li>
          <li><a href="">Contact us</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <h3>Further Information</h3>
          <ul class="list-unstyled links">
          <li><a href="">Terms &amp; Conditions</a></li>
          <li><a href="">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Follow us</h3>
          <ul class="list-unstyled social">
            <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-brands fa-google"></i></a>
            <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fab fa-facebook fa-lg"></i></a>
            <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
            <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
            <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
            <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
