.carousel-item {
  height: 500px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full-width{
  width: 95%;
}
.half-width{
  width: 45%
}

.form-size{
  width: 75%
}

.room-card{
  margin-top: 20px;
  max-width: 700px;
}
