.full-width{
  width: 95%;
}
.half-width{
  width: 45%
}

.form-size{
  width: 75%
}

.label-box{
  display: flex;
  align-items: stretch;
  margin-bottom: 10px;
}

.carousel-item {
  height: 500px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container{
  width: 100%;
}
