<app-header></app-header>

 <div class="home_banner_area"  id="element2" >

  <div fxFlex [hidden]="rooms|| errMess" [@expand]>
    <mat-spinner></mat-spinner> <h4>Loading . . . Please Wait</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

  <div fxFlex *ngIf="rooms">
    <div class="container" *ngFor="let room of rooms">
      <div class="information_home_card">
        <div class="img_holder">
          <img src={{room.viewImgName}} class="image rounded float-left" alt="...">
        </div>
        <div class="row justify-content-end">
          <div class="col-lg-7">
            <div class="item">
              <div class="blog_text">
                <div class="cat">
                  <a class="cat_btn" href="#">Gadgets</a>
                  <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> {{room.FirstDateForSettelment  | date:'mediumDate'}}</a>
                  <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a>
                </div>
                <a href="#"><h4>{{room.Title}}</h4></a>
                <p>{{room.Description}}</p>
                <a class="home_btn" href="#" [routerLink]="['/roomdetail', room.Id]">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


